$warningText:             white;
$warningBackground:       #ff460d;

div.neos-formbuilder-alert {
  padding: 10px;

  &.neos-formbuilder-warning {
    color: $warningText;
    background-color: $warningBackground;
  }

  .neos-formbuilder-alert-header {
    font-weight: bold;
    margin-bottom: 10px;
  }
}