{namespace neos=Neos\Neos\ViewHelpers}
{namespace fb=ByTorsten\FormBuilder\ViewHelpers}
{namespace npb=ByTorsten\NeosPluginBase\ViewHelpers}

<f:form action="submit" method="post" objectName="data" section="{node.identifier}" id="{node.identifier}" enctype="multipart/form-data" additionalAttributes="{novalidate: 'novalidate'}">
  <npb:renderFusionInCurrentControllerContext path="elements" context="{objectName: 'data'}"/>
</f:form>

<f:if condition="{configurationErrors}">
  <f:render partial="Warning" arguments="{result: configurationErrors}" />
</f:if>